.wrapper {
  width: 100%;
  min-height: 100%;
  border: 1px solid red;
}

.page-wrapper {
  padding: 0rem;
}

@media only screen and (min-width: 1440px) {
  .page-wrapper {
    padding: 0rem 16.5rem;
  }
}
