.productImages-container {
  height: 100%;
  position: relative;
}

.productImages-container img {
  width: 100%;
  height: 100%;
}

.productImages-container button {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 45%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8fd;
}

.productImages-container button img {
  height: 1.5rem;
  width: 1.2rem;
}

.productImages-container button:first-of-type {
  left: 1.2rem;
}

.productImages-container button:last-of-type {
  right: 1.2rem;
}

.productImage-carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.productImage-carousel img {
  position: absolute;
  cursor: pointer;
}

.productImage-carousel button:active {
  filter: brightness(87%);
}

.productImages-thumbnail-container {
  height: 8.8rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.productImages-thumbnail-container img {
  width: 8.8rem;
  border-radius: 1rem;
  cursor: pointer;
}

.productImages-thumbnail-container img:hover {
  filter: brightness(140%);
}

.active-thumbnail {
  outline: 2px solid #ff7d1a;
  filter: brightness(125%);
}

@media only screen and (min-width: 1440px) {
  .productImages-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .productImage-carousel {
    border-radius: 1.5rem;
    overflow: hidden;
    min-height: 40rem;
    margin-bottom: 2.4rem;
  }
}
