.productImages-container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  button {
    position: absolute;
    width: 4rem;
    height: 4rem;
  }
  button:last-of-type {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: 0;
  }
}

.productImage-carousel {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 50rem;
}
