.navBar {
  height: 100%;
  display: flex;
  padding: 0rem 2.4rem;
  justify-content: space-between;
}

.navBar > div {
  display: flex;
  align-items: center;
}

.navBar > div img:first-of-type {
  margin-right: 1.6rem;
}

.navBar div:last-of-type img:last-of-type {
  width: 2.4rem;
  height: 2.4rem;
}
