@import '../../../Styles/styles.scss';

.navBar {
  height: 100%;
  display: flex;
  padding: 0rem 2.4rem;
  justify-content: space-between;
  position: relative;

  > div {
    display: flex;
    align-items: center;

    //cart
    img:first-of-type {
      margin-right: 1.6rem;
      position: relative;
    }
    button {
      background-color: white;
    }
  }

  //avatar
  div:last-of-type img:last-of-type {
    width: 2.4rem;
    height: 2.4rem;
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0rem;

    li {
      margin-right: 3.2rem;
      font-weight: $fontNormal;
      font-size: 1.5rem;
      color: $darkGrayBlue;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .navBar {
    border-bottom: 1px solid $lightGrayBlue;
    padding: 0rem;

    //avatar
    div:last-of-type > img:last-of-type {
      width: 5rem;
      height: 5rem;
    }

    > div {
      //cart
      button img:first-of-type {
        margin-right: 4.6rem;
      }
    }
  }
}
