.main {
  display: grid;
  grid-template-rows: 30rem calc(100% - 30rem);

  max-width: 50rem;
}

@media only screen and (min-width: 1440px) {
  .main {
    grid-template-rows: 100%;
    grid-template-columns: calc(50% - 6.25rem) calc(50% - 6.25rem);
    padding: 9rem 5rem 0rem 5rem;
    column-gap: 12.5rem;
  }
}
